//all fonts 


@font-face {
    font-family: 'DinNextLight';
    src: url('../vendor/fonts/DinNextLight.ttf');
}
@font-face {
    font-family: 'DinNextBold';
    src: url('../vendor/fonts/DinNextBold.ttf');
}
@font-face {
    font-family: 'DinNextMed';
    src: url('../vendor/fonts/DinNextMedium.ttf');
}
@font-face {
    font-family: 'DinNextReg';
    src: url('../vendor/fonts/DinNextRegular.ttf');
}
